<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huotn.weixproject.mapper.TbGarbageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huotn.weixproject.bean.TbGarbage">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="english_name" property="englishName" />
        <result column="garbage_type" property="garbageType" />
        <result column="city_name" property="cityName" />
        <result column="type_name" property="typeName" />
    </resultMap>

</mapper>
